/* General */
body{
    background-color:gray;
}

.container{
    margin:auto;
    background-color:blue;
    width:80%;
}

.title-heading{
    padding:20px;
    text-align:center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.section{
    margin: 50px auto;
    text-align:center;
}

.avatar{
    display:block;
    width:200px;
    height: 200px;
    border-radius:50%;
}

/* Navigation Bar */
.navbar{
    width:80%;
    margin:auto;
    padding:10px 0px;
    background-color: gray;
    
}

.navbar a{
    width:25%;
    float:left;
    text-decoration:none;
    text-align: center;
}

.topnav{
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
    background-color:gray;
}

.topnav li{
    float: left;
    width:25%;
}

.topnav li a{
    display:block;
    padding: 14px 0px;
    text-decoration: none;
    text-align:center;
}

li a:hover{
    background-color: white;
}