/* General */
html {
    scroll-behavior: smooth;
}

body{
    background-color: #FFFFFF;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.container{
    margin:auto;
    width:80%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Body */
.section{
    padding-top: 15px;
    padding-bottom: 80px;
    text-align:center;
}

.section:first-of-type{
    padding-top: 80px;
    background-image: url('images/wallpaper2.png');
}

.section-color{
    background-color:#EEEEEE
}

.section-container{
    width:80%;
    margin: auto;
}

.section hr{
    width:80%;
}

.section h1{
    letter-spacing: .1em;
    font-weight:100;
}

.section-head{
    font-size: 2.5em;
}

@media only screen and (min-width: 600px) {
    .section-head{
        font-size: 3em;
    }
}

.section .section-container p{
    font-size: 2em;
}

/* Avatar */
.avatar{
    display:block;
    width:200px;
    height: 200px;
    border-radius:50%;
}

.avatar-container{
    padding: 50px;
    margin: auto;
    width: 50%;
    background-color: rgba(60,60,60,.8);
    text-align: center;
}

.avatar-container *{
    margin: 30px auto;
    color: white;
}

/* Projects */
.project-cell-container{
    display: block;
}

@media only screen and (min-width: 900px) {
    .project-cell-container{
        display: flex;
        justify-content: center;
    }
}

.project-cell{
    width: 300px;
    height: 400px;
    margin: 30px 30px;
}

.project-cell:hover{
    cursor: pointer;
}

.project-popup-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
    text-align: center;
}

.project-popup{
    width: 80%;
    padding: 10px;
    max-height: 80%;
    border-style: solid;
    border-width: 1px;
    margin: 40px auto;
    background-color: white;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.project-popup > *:not(.close-dot){
    margin: 30px 15px;
}

.project-popup h1{
    font-size: 2.5em;
    font-weight: 100;
}

.project-popup p{
    font-size: 1.5em;
}

.close-dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    background-color: crimson;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-dot:hover{
    cursor: pointer;
}

.project-image {
    max-width: 300px;
    height: auto;
}

@media only screen and (min-width: 600px) {
    .project-image{
        max-width: 400px;
        height: auto;
        margin: auto;
    }
}

/* Header/Navigation */
.title-heading{
    padding:20px;
    text-align:center;
    color: lime;
    background-color: navy;
    margin: 0px;
    font-size: 2.5em;
    letter-spacing: .2em;
}

.topnav{
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
    background-color:navy;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
}

.topnav li a{
    display:block;
    padding: 14px 15px;
    text-decoration: none;
    color: lightslategray;
    text-align:center;
    font-size: 1.5em;
    letter-spacing: .1em;
}

.topnav li .active{
    color: white;
}

li a:hover{
    color:white;
    cursor: pointer;
}

/* Footer */
.footer{
    padding:50px 0px;
    background-color:darkslategray;
}

.copyright {
    color: lightslategray;
    text-align: center;
    font-size: 1.1em;
}