/* General */
body{
    background-color:gray;
}

.title-heading{
    margin:20px 0px;
    text-align:center;
}

.section-heading{
    margin:20px 0px;
    text-align:center;
}

.avatar{
    display:block;
    width:200px;
    height: 200px;
    margin:20px auto;
    border-radius:50%;
}

/* Navigation Bar */
.nav .nav-item{
    font-size:20px;
}


